@model WebApp.Models.Organization

<form method="post">
    <div>
        <label>Organization Name:</label>
        <input asp-for="Name" />
    </div>
    <button type="submit">Create</button>
</form>
